<!DOCTYPE html>
<html lang="pt">
 <head>
  <meta charset="utf-8">
  <title>AudioAlly</title>
  <%- include('../../partials/header');-%>
  </head>
  <body>


  </body>

  <div class="wrapper">




    <div class="container" style="margin-top: 5%;">
        <h4>Nova Marcação</h4>
        <hr>
        <div class="row col-md-6 col-md-offset-2 custyle">
    <form method="POST" name="criarMarcacao" id="criarMarcacao">

        <label for="exampleInputPassword1">Produtor</label>
        <div class="form-group">
          <select class="custom-select" name="produtor" id="produtor" form="criarMarcacao" required>
            <option selected disabled="" >Escolha um produtor</option>
            <% produtor.forEach((produtor) => { %>
                <option value="<%= produtor.id %>" name="produtor"><%= produtor.nome %></option>
            <% }); %>
          </select>
        </div>

        <label for="exampleInputPassword1">Serviço</label>
        <div class="form-group">
          <select class="custom-select" name="servico" id="servico" form="criarMarcacao" required>
            <option value="Escolha um servico" disabled selected>Escolha um serviço:</option>
            <% servico.forEach((servico) => { %>
                <option value="<%= servico.id %>" name="servico"><%= servico.nome %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Bpms</label>
            <input type="number" min="80" max="120" class="form-control" placeholder="Insira os bpms" name="bpms" required>
          </div> 
          <div class="form-group">
            <label for="exampleInputEmail1">Música</label>
            <input type="text" class="form-control" placeholder="Insira a música" maxlength="36" name="musica" required>
          </div> 
          <div class="form-group">
            <label for="exampleInputEmail1">Link</label>
            <input type="text" class="form-control" placeholder="https://" name="link" maxlength="64"  pattern="https?://.+" title="Inclua https://" required>
          </div> 
          <button type="submit" class="btn btn-primary">Criar</button>

        </form>
</div>
</div>






<script type="text/javascript">
  $(document).ready(function() {
     $(".menu-icon").on("click", function() {
           $("nav ul").toggleClass("showing");
     });
});

// Scrolling Effect

$(window).on("scroll", function() {
     if($(window).scrollTop()) {
           $('nav').addClass('black');
     }

     else {
           $('nav').removeClass('black');
     }
})
</script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>

</body>

</html>