<!doctype html>

<html lang="en"> 

 <head> 

  <meta charset="UTF-8"> 

  <title>Audioally</title> 

  <link rel="stylesheet" type="text/css" href="../../assets/css/estilos_menu.css">
  <link href='https://fonts.googleapis.com/css?family=Jockey One' rel='stylesheet'>

 </head> 

 <body>

<div id="main" style="padding: 10%";>

   <div nameid="WELCOME TO"  id="welcome_to" >
      WELCOME
   </div>
   <div nameid="AUDIOALLY"  id="audioally" >
      <%= utilizador[0].nome %> 
   </div>
   <div style="text-align: center;margin: auto;margin-bottom: 30%;margin-top:10%; color: white;font-size: 24px; width: 40%;">
      PLEASE SCROLL THE PAGE AND FILL ALL INFORMATION ACCORDING TO YOUR REQUEST
   </div>
   <div style="text-align: center; margin-top: 5%;">
      <div class="down-arrow"></div>
  </div>
</div>



   <div  nameid="WHAT WE DO?"  id="title" style="margin-top: 0%;">
      <button id="buttonList" class="button-6" role="button" style="margin-right: 10%;" onclick="viewList()">VIEW LISTING</button><button class="button-6" id="buttonRequest" role="button" onclick="newReq()">NEW REQUEST</button>
   </div>

<div id="list" style="display: none;">
   <div style="text-align: center;">
      <div  id="title2">
         LIST OF ALL YOUR REQUESTED SERVICES
      </div>

      <div  id="desc2">
         FEEL FREE TO EDIT OR DELETE ANY SERVICE YOU WISH
      </div>
   <% dados.forEach((dados) => { %>

   <div class="card" onclick="selectCard('<%=produtor.id%>', this)">
      <div class='main'>
      <img class='tokenImage' src="../assets/images/benji.png" />
      <h2><%= dados.id_produtor %></h2>
      <p class='description'>Service: <%= dados.id_servico %>
      <p class='description'>BPMS: <%= dados.bpms %>
      <p class='description'>MUSIC: <%= dados.musica %>
      <p class='description'>LINK: <%= dados.link %>
      </div>
   </div>

   <% }); %>
   </div>

</div>


<div id="newRequest" style="display: none;">
         <div  id="title2">
            CHOOSE ONE OF OUR PRODUCERS THAT BEST SUITS YOUR OBJECTIVE
         </div>

         <div  id="desc2">
            PLEASE FILL ALL INFORMATION CORRECTLY
         </div>

         <form method="POST" name="criarMarcacao" id="criarMarcacao">
         <div style="text-align: center;">

            <% produtor.forEach((produtor) => { %>

               <div class="card" onclick="selectCard('<%=produtor.id%>', this)">
                  <div class='main'>
                  <img class='tokenImage' src="../assets/images/benji.png" />
                  <h2><%= produtor.nome %></h2>
                  <p class='description'>João Maia Ferreira, também conhecido pelo nome artístico Benji Price, é um rapper e produtor de hip-hop português.
                     <p class='skills'>Beat Making, Mix&Master, Voice AutoTune
                  </div>
               </div>

               <% }); %>

               <input type="hidden" id="produtor" name="produtor" value="" required>
         <br>

         <div class="requestTitle">
            <div>
            CHOOSE THE SERVICE OU NEED
            </div>
         </div>
      <br>
         <div class="requestButton" style="margin:0 20% 0 20%;text-align: center;">
            <div class="select" style="margin-left: 36%;">
               <select name="servico" id="servico" form="criarMarcacao" required>
                  <option value="Escolha um servico" disabled selected>Escolha um serviço:</option>
               <% servico.forEach((servico) => { %>
                  <option value="<%= servico.id %>" name="servico"><%= servico.nome %></option>
                  <% }); %>
               </select>
            </div>
         <br>

         <div class="requestTitle">
            <div>
            BPMS
            </div>
         </div>
      <br>
         <div class="requestButton" style="margin:0 20% 0 20%;text-align: center;">
            <div>
               <input type="number" name="bpms" id="bpms" required>
            </div>
         </div>
         <br>

         <div class="requestTitle">
            <div>
            MUSIC
            </div>
         </div>
      <br>
         <div class="requestButton" style="margin:0 20% 0 20%;text-align: center;">
            <div>
               <input type="text" name="musica" id="musica" required>
            </div>
         </div>
         <br>

         <div class="requestTitle">
            <div>
            LINK
            </div>
         </div>
      <br>
         <div class="requestButton" style="margin:0 20% 0 20%;text-align: center;">
            <div>
               <input type="text" name="link" id="link" required>
            </div>
         </div>

         <div class="requestSubmit"> 
         
            <input type="submit" value="REQUEST"> 

         </div> 

</div>
</form>
<script>
function selectCard(cardId, element) {
  var cards = document.getElementsByClassName('card');
  for (var i = 0; i < cards.length; i++) {
    if (cards[i] !== element) {
      cards[i].classList.remove('cardActive');
    }
  }
  document.getElementById('produtor').value = cardId;
  element.classList.toggle('cardActive');
}


function newReq(){
   var div = document.getElementById('newRequest');
   div.style.display = 'block';
   document.getElementById('buttonRequest').classList.add('button-6active');

   var div = document.getElementById('list');
   div.style.display = 'none';
   document.getElementById('buttonList').classList.remove('button-6active');
   document.getElementById('buttonList').classList.add('button-6');
   
}

function viewList(){
   var div = document.getElementById('newRequest');
   div.style.display = 'none';
   document.getElementById('buttonRequest').classList.remove('button-6active');
   document.getElementById('buttonRequest').classList.add('button-6');

   var div = document.getElementById('list');
   div.style.display = 'block';
   document.getElementById('buttonList').classList.add('button-6active');
}

 </script>

 </body>

</html>